.env
.env-development
.env-production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
# node_modules/
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Random crap
trash
.DS_Store
.sass-cache
.tmp
.rvmrc

.trashes
*~

# Gatsby related
.cache/


# Editor
.vscode
.vscode-test
*.sublime-project
*.sublime-workspace
sftp-config.json


Bakend/node_modules/
angular-three/src/app/cube/cube.component.spec.ts
angular-three/src/app/cube/cube.component.ts
angular-three/src/app/cube/textures/ground.jpg
angular-three/src/app/cube/textures/ground-loRes.jpg
angular-three/src/app/cube/textures/wall.jpg
angular-three/src/app/cube/textures/wall-loRes.jpg
angular-three/src/app/floor/floor.component.html
angular-three/src/app/floor/floor.component.scss
angular-three/src/app/floor/floor.component.spec.ts
angular-three/src/app/floor/floor.component.ts
angular-three/src/assets/.gitkeep
angular-three.zip
angular-three/.editorconfig
angular-three/.gitignore
angular-three/angular.json
angular-three/package.json
angular-three/package-lock.json
angular-three/README.md
angular-three/server.ts
angular-three/tsconfig.app.json
angular-three/tsconfig.json
angular-three/tsconfig.spec.json
angular-three/src/favicon.ico
angular-three/src/index.html
angular-three/src/main.server.ts
angular-three/src/main.ts
angular-three/src/app/app.component.html
angular-three/
